@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.wrapper {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-height: 10rem;
    display: flex;
    justify-content: center;

    .editor-wrapper, .previewer-wrapper {  
      height: 100%;
      width: 45%;
      margin: 0 .5rem;

      &__area {
        //Le restamos los 2rem de la altura del botón, 1px del borde del .buttons y .1rem del margen del botón
        //Todo eso es lo que suma la altura de la botonera
        height: calc(100% - 2rem - 1px - .1rem);
        
      }
    }
    
    .editor {
        height: 100%;
        width: 100%;
        padding-left: .5rem;
        padding-top: .5rem;
        box-sizing: border-box;
        user-select: text;
        -webkit-user-select: text;
    }
    
    /*.previewer {
        height: 100%;
        width: 45%;
        //margin: 1rem;
        display: inline-block;
        overflow-y: scroll;
        //Style
        border: 1px solid black;
        margin: 0 .5rem;
    }*/

    .previewer-wrapper__area {
      overflow-y: scroll;
      /*padding: 0 !important;
      padding-left: .5rem !important;
      padding-top: .5rem !important;
      box-sizing: border-box;*/
    }
}

.buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #d1d5da;
  border-bottom: none;
  border-top-style: dashed;
  border-left-style: dashed;
  border-right-style: dashed;
}

.button {
  font-size: 1.2rem;
  width: 2.5rem;
  height: 2rem;
  margin: .1rem .5rem;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: all .5s;

  &:hover {
    background-color: #ebebeb;
    border-radius: .2rem;
  }

  & ion-icon {
    vertical-align: middle;
  }

  &__bold {

  }

  &__italics {

  }

  &__link {

  }

  &__h1 {

  }

  &__show-previewer {
    display: none;
    font-size: 2rem;
    & ion-icon {
      vertical-align: baseline;
    }
  }

  &__close-previewer { 
    display: none;
    font-size: 2rem;
    & ion-icon {
      vertical-align: baseline;
    }
  }

}


@import '~github-markdown-css/github-markdown.css';

.markdown-body {
  box-sizing: border-box;
  padding: 30px;
}

@media (min-width: 768px) {
  /**
  * Show the editor properly when page is large
  **/
  .editor-wrapper {
    &.disable-scroll {
      opacity: 1;
      overflow-y: initial;
    }
  }
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }

  //Hide previewer, make editor larger and enable preview button
  .wrapper {
    .previewer-wrapper {
      position: absolute;
      z-index: 999;
      margin: 0;
      background-color: #fff;
      top: 100%;
      width: calc(100% - .5rem);
      height: 0;
      transition: all .2s ease-out; //Close transition
      opacity: 0;
      overflow: hidden; //Do not fill a visual space in the page
      
      &__opened {
        height: calc(100% - .5rem);
        top: .5rem;
        transition: all .2s ease-in; //Open transition
        opacity: 1;
      }
    }
  
    .editor-wrapper {
      width: 100%;
      &.disable-scroll {
        opacity: 0;
        overflow-y: hidden;
      }
    }
  }

  .button {
    &__show-previewer {
      display: initial;
      margin-left: auto;
    }
    &__close-previewer {
      display: initial;
      margin-left: auto;
    }
  }

}

/**
* Disable zoom when focus on input/textarea (must set font-size to 16px -> 1rem)
**/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 1rem;
    background: #eee;
  }

  select,
  textarea,
  input {
    font-size: 1rem;
  }
}